In [1]:
install.packages("randomForest")
library(randomForest)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

randomForest 4.7-1.1

Type rfNews() to see new features/changes/bug fixes.

In [2]:
p6.4<-read.csv("https://raw.githubusercontent.com/LiShingHan/DataScience/main/DataSet/p6.4.csv")
p6.4

   outlook  temp humidity windy play
1  sunny    hot  high     false no
2  sunny    hot  high     true  no
3  overcast hot  high     false yes
4  rainy    warm high     false yes
5  rainy    cool normal   false yes
6  rainy    cool normal   true  no
7  overcast cool normal   true  yes
8  sunny    warm high     false no
9  sunny    cool normal   false yes
10 rainy    warm normal   false yes
11 sunny    warm normal   true  yes
12 overcast warm high     true  yes
13 overcast hot  normal   false yes
14 rainy    warm high     true  no

In [3]:
str(p6.4)

'data.frame':	14 obs. of  5 variables:
 $ outlook : chr  "sunny" "sunny" "overcast" "rainy" ...
 $ temp    : chr  "hot" "hot" "hot" "warm" ...
 $ humidity: chr  "high" "high" "high" "high" ...
 $ windy   : chr  "false" "true" "false" "false" ...
 $ play    : chr  "no" "no" "yes" "yes" ...

In [4]:
model <- randomForest( play ~ outlook + temp + humidity + windy,  data = p6.4)
model
#iris.rf=randomForest(Species~., data=iris.train, importane=T, proximity=T)

Warning message in randomForest.default(m, y, ...):
“The response has five or fewer unique values.  Are you sure you want to do regression?”
Warning message in mean.default(y):
“argument is not numeric or logical: returning NA”

ERROR: ignored

# 範例二

In [5]:
dataset<-read.csv("https://raw.githubusercontent.com/LiShingHan/DataScience/main/DataSet/Random%20forest.csv")
dataset

    User.ID  Gender Age EstimatedSalary Purchased
1   15624510 Male   19   19000          0
2   15810944 Male   35   20000          0
3   15668575 Female 26   43000          0
4   15603246 Female 27   57000          0
5   15804002 Male   19   76000          0
6   15728773 Male   27   58000          0
7   15598044 Female 27   84000          0
8   15694829 Female 32  150000          1
9   15600575 Male   25   33000          0
10  15727311 Female 35   65000          0
11  15570769 Female 26   80000          0
12  15606274 Female 26   52000          0
13  15746139 Male   20   86000          0
14  15704987 Male   32   18000          0
15  15628972 Male   18   82000          0
16  15697686 Male   29   80000          0
17  15733883 Male   47   25000          1
18  15617482 Male   45   26000          1
19  15704583 Male   46   28000          1
20  15621083 Female 48   29000          1
21  15649487 Male   45   22000          1
22  15736760 Female 47   49000          1
23  15714658 Male   48   41000          1
24  15599081 Female 45   22000          1
25  15705113 Male   46   23000          1
26  15631159 Male   47   20000          1
27  15792818 Male   49   28000          1
28  15633531 Female 47   30000          1
29  15744529 Male   29   43000          0
30  15669656 Male   31   18000          0
⋮   ⋮        ⋮      ⋮   ⋮               ⋮
371 15611430 Female 60   46000          1
372 15774744 Male   60   83000          1
373 15629885 Female 39   73000          0
374 15708791 Male   59  130000          1
375 15793890 Female 37   80000          0
376 15646091 Female 46   32000          1
377 15596984 Female 46   74000          0
378 15800215 Female 42   53000          0
379 15577806 Male   41   87000          1
380 15749381 Female 58   23000          1
381 15683758 Male   42   64000          0
382 15670615 Male   48   33000          1
383 15715622 Female 44  139000          1
384 15707634 Male   49   28000          1
385 15806901 Female 57   33000          1
386 15775335 Male   56   60000          1
387 15724150 Female 49   39000          1
388 15627220 Male   39   71000          0
389 15672330 Male   47   34000          1
390 15668521 Female 48   35000          1
391 15807837 Male   48   33000          1
392 15592570 Male   47   23000          1
393 15748589 Female 45   45000          1
394 15635893 Male   60   42000          1
395 15757632 Female 39   59000          0
396 15691863 Female 46   41000          1
397 15706071 Male   51   23000          1
398 15654296 Female 50   20000          1
399 15755018 Male   36   33000          0
400 15594041 Female 49   36000          1

In [6]:
dataset[,'Purchased'] <- as.factor(dataset[,'Purchased'])
str(dataset)

'data.frame':	400 obs. of  5 variables:
 $ User.ID        : int  15624510 15810944 15668575 15603246 15804002 15728773 15598044 15694829 15600575 15727311 ...
 $ Gender         : chr  "Male" "Male" "Female" "Female" ...
 $ Age            : int  19 35 26 27 19 27 27 32 25 35 ...
 $ EstimatedSalary: int  19000 20000 43000 57000 76000 58000 84000 150000 33000 65000 ...
 $ Purchased      : Factor w/ 2 levels "0","1": 1 1 1 1 1 1 1 2 1 1 ...

In [7]:
set.seed(0)
test.index=sample(1:nrow(dataset),80)   #80筆    測試資料
X.train=dataset[-test.index,]        #320筆   訓練資料
X.test=dataset[test.index,]

In [8]:
X.train

    User.ID  Gender Age EstimatedSalary Purchased
1   15624510 Male   19   19000          0
2   15810944 Male   35   20000          0
3   15668575 Female 26   43000          0
4   15603246 Female 27   57000          0
5   15804002 Male   19   76000          0
6   15728773 Male   27   58000          0
7   15598044 Female 27   84000          0
8   15694829 Female 32  150000          1
9   15600575 Male   25   33000          0
10  15727311 Female 35   65000          0
11  15570769 Female 26   80000          0
12  15606274 Female 26   52000          0
15  15628972 Male   18   82000          0
16  15697686 Male   29   80000          0
17  15733883 Male   47   25000          1
18  15617482 Male   45   26000          1
19  15704583 Male   46   28000          1
21  15649487 Male   45   22000          1
23  15714658 Male   48   41000          1
24  15599081 Female 45   22000          1
26  15631159 Male   47   20000          1
27  15792818 Male   49   28000          1
28  15633531 Female 47   30000          1
30  15669656 Male   31   18000          0
31  15581198 Male   31   74000          0
32  15729054 Female 27  137000          1
34  15776733 Female 28   44000          0
35  15724858 Male   27   90000          0
36  15713144 Male   35   27000          0
38  15689425 Male   30   49000          0
⋮   ⋮        ⋮      ⋮   ⋮               ⋮
364 15768293 Female 42   79000          0
365 15654456 Male   42  104000          1
367 15574372 Female 58   47000          1
368 15671249 Male   46   88000          1
369 15779744 Male   38   71000          0
370 15624755 Female 54   26000          1
371 15611430 Female 60   46000          1
372 15774744 Male   60   83000          1
375 15793890 Female 37   80000          0
376 15646091 Female 46   32000          1
377 15596984 Female 46   74000          0
378 15800215 Female 42   53000          0
379 15577806 Male   41   87000          1
380 15749381 Female 58   23000          1
381 15683758 Male   42   64000          0
383 15715622 Female 44  139000          1
384 15707634 Male   49   28000          1
385 15806901 Female 57   33000          1
386 15775335 Male   56   60000          1
387 15724150 Female 49   39000          1
388 15627220 Male   39   71000          0
391 15807837 Male   48   33000          1
392 15592570 Male   47   23000          1
393 15748589 Female 45   45000          1
394 15635893 Male   60   42000          1
395 15757632 Female 39   59000          0
396 15691863 Female 46   41000          1
397 15706071 Male   51   23000          1
399 15755018 Male   36   33000          0
400 15594041 Female 49   36000          1

In [9]:
model <- randomForest( Purchased ~ Age + EstimatedSalary,  data = X.train)
model

Call:
 randomForest(formula = Purchased ~ Age + EstimatedSalary, data = X.train)
               Type of random forest: classification
                     Number of trees: 500
No. of variables tried at each split: 1

        OOB estimate of  error rate: 10.62%
Confusion matrix:
    0   1 class.error
0 184  18  0.08910891
1  16 102  0.13559322

In [10]:
y.pred=predict(model,newdata=X.test)
y.pred

398 324 167 129 299 270 187 307  85 277 362 330 263 329  79 213  37 105 217 366
  1   1   0   0   1   0   0   1   0   0   1   1   1   1   0   1   0   0   1   1
165 290 390  89 289 340 326 389  42 111  20  44 343  70 121  40 172  25 248 198
  0   0   1   0   0   1   0   1   0   0   1   0   0   0   0   0   0   1   1   0
 39 298 280 160  14 130  45  22 206 230 193 104 374 255 348 349 103 331  13 296
  0   1   1   1   0   0   0   1   1   0   0   1   1   1   1   0   0   0   0   0
382 176 279 110  84  29 141 252 221 108 304  33 354 149 287 102 145 118 373 107
  1   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
Levels: 0 1

In [11]:
table.test=table(X.test$Purchased,Predicted=y.pred)
table.test

   Predicted
     0  1
  0 49  6
  1  3 22