# K-Nearest Neighbors

In [1]:
install.packages('class')
library(class)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [2]:
data<-read.csv("https://raw.githubusercontent.com/LiShingHan/DataScience/main/DataSet/KNN.csv")
data

   Height Age Weight
1  5.00   45  77
2  5.11   26  47
3  5.60   30  55
4  5.90   34  59
5  4.80   40  72
6  5.80   36  60
7  5.30   19  40
8  5.80   28  60
9  5.50   23  45
10 5.60   32  58

In [3]:
X_test<-data.frame(Height=5.500, Age=38 )
X_test

  Height Age
1 5.5    38

In [4]:
install.packages('neighbr')
library(neighbr)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)


Attaching package: ‘neighbr’


The following object is masked from ‘package:class’:

    knn

In [5]:
data$ID <-  c(1:10)

In [6]:
X_test

  Height Age
1 5.5    38

In [7]:
model <- knn( train_set = data,
           test_set = X_test,
           k=3,
           continuous_target = "Weight",
           comparison_measure ="squared_euclidean" ,
           continuous_scoring_method = "average",
           return_ranked_neighbors=3,
           id="ID")
model

Call:
knn(train_set = data, test_set = X_test, k = 3, continuous_target = "Weight",
    comparison_measure = "squared_euclidean", continuous_scoring_method = "average",
    return_ranked_neighbors = 3, id = "ID")

In [8]:
model$test_set_scores

  continuous_target neighbor1 neighbor2 neighbor3
1 63.66667          6         5         4

In [9]:
model <- knn( train_set = data,
           test_set = X_test,
           k=5,
           continuous_target = "Weight",
           comparison_measure ="euclidean" ,
           continuous_scoring_method = "average",
           return_ranked_neighbors=5,
           id="ID")
model

Call:
knn(train_set = data, test_set = X_test, k = 5, continuous_target = "Weight",
    comparison_measure = "euclidean", continuous_scoring_method = "average",
    return_ranked_neighbors = 5, id = "ID")

In [10]:
model$test_set_scores

  continuous_target neighbor1 neighbor2 neighbor3 neighbor4 neighbor5
1 65.2              6         5         4         10        1

In [11]:
R.Version()

$platform
[1] "x86_64-pc-linux-gnu"

$arch
[1] "x86_64"

$os
[1] "linux-gnu"

$system
[1] "x86_64, linux-gnu"

$status
[1] ""

$major
[1] "4"

$minor
[1] "2.1"

$year
[1] "2022"

$month
[1] "06"

$day
[1] "23"

$`svn rev`
[1] "82513"

$language
[1] "R"

$version.string
[1] "R version 4.2.1 (2022-06-23)"

$nickname
[1] "Funny-Looking Kid"