# Naive Bayes Classifier

## https://heartbeat.fritz.ai/naive-bayes-classifier-in-python-using-scikit-learn-13c4deb83bcf

In [1]:
import numpy as np
import pandas as pd  
import matplotlib.pyplot as plt


from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

### Load the Data

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/LiShingHan/DataScience/main/DataSet/p6.4.csv', encoding='big5')  # load data set
data

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  warm     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  warm     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  warm   normal  False  yes
10     sunny  warm   normal   True  yes
11  overcast  warm     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  warm     high   True   no

### Data pre-processing

In [3]:
# We need to map our string column Outlook to numbers. This is because the naive bayes implementation cannot deal with strings.
# Map string vales for Outlook column to numbers
d = {'sunny': 1, 'overcast': 2, 'rainy': 3}
data.outlook = [d[item] for item in data.outlook.astype(str)]

d = {'hot': 1, 'warm': 2, 'cool': 3}
data.temp = [d[item] for item in data.temp.astype(str)]

d = {'high': 1, 'normal': 2}
data.humidity = [d[item] for item in data.humidity.astype(str)]

In [4]:
x = data.drop('play', axis=1)
y = data['play']

### Train the model

In [5]:
model = GaussianNB()
model.fit(x,y)

GaussianNB()

### Prediction

In [6]:
y_pred = model.predict(x)
y_pred

array(['no', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 'yes', 'yes',
       'yes', 'no', 'yes', 'no'], dtype='<U3')

### Model Evaluation

In [7]:
accuracy = accuracy_score(y, y_pred) * 100
accuracy

78.57142857142857

# 分為 訓練集 測試集

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.25, random_state=100)
model = GaussianNB()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
y_pred

accuracy = accuracy_score(y_test, y_pred) * 100
accuracy

50.0