# Association Rule

In [1]:
!pip install numpy
!pip install pandas
!pip install matplotlib
!pip install sklearn
!pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (3.1.0)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1310 sha256=ba83c48f65805111fc7f3ce4813948f90ab6ba91fc0664e295b0263a22e12677
  Stored in directory: /root/.cache/pip/wheels/46/ef/c3/157e41f5ee1372d1be90b09f74f82b10e391eaacca8f22d33e
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.5.1->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)

In [2]:
import numpy as np
import pandas as pd  
import matplotlib.pyplot as plt
#from sklearn.cluster import KMeans

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/LiShingHan/DataScience/main/DataSet/p10.5.csv', encoding='big5')  # load data set
data

    牛奶  麵包  雞蛋  奶油  番茄醬  餅乾
0    1   1   1   1    0   0
1    1   0   1   1    1   0
2    0   1   0   1    1   0
3    1   1   0   1    0   0
4    0   1   0   1    0   1
5    1   1   0   1    0   1
6    1   0   0   0    0   1
7    1   1   0   1    0   0
8    0   1   1   1    0   1
9    1   1   0   1    0   0
10   1   1   0   1    0   0
11   1   1   0   0    1   1

In [4]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

### 將最低支持度 (min support) 定為 33%，即在所有交易中，該產品最少佔 33%，才可符合 frequent itemset 的要求

In [5]:
frequent_itemsets = apriori(data, min_support=0.33, use_colnames = True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x : len(x))
frequent_itemsets

    support      itemsets  length
0  0.750000          (牛奶)       1
1  0.833333          (麵包)       1
2  0.833333          (奶油)       1
3  0.416667          (餅乾)       1
4  0.583333      (麵包, 牛奶)       2
5  0.583333      (奶油, 牛奶)       2
6  0.750000      (麵包, 奶油)       2
7  0.333333      (麵包, 餅乾)       2
8  0.500000  (麵包, 奶油, 牛奶)       3

### 假設只想知道擁有 confidence threshold 50% 以上的 frequent itemsets ，min threshold = 0.5

In [6]:

## 計算關聯規則 Association Rule
Association_Rules = association_rules(frequent_itemsets, metric = 'confidence', min_threshold=0.5)

Association_Rules.sort_values(by=['support','confidence'],  ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4,(麵包),(奶油),0.833333,0.833333,0.750000,0.900000,1.080000,0.055556,1.666667
5,(奶油),(麵包),0.833333,0.833333,0.750000,0.900000,1.080000,0.055556,1.666667
1,(牛奶),(麵包),0.750000,0.833333,0.583333,0.777778,0.933333,-0.041667,0.750000
3,(牛奶),(奶油),0.750000,0.833333,0.583333,0.777778,0.933333,-0.041667,0.750000
0,(麵包),(牛奶),0.833333,0.750000,0.583333,0.700000,0.933333,-0.041667,0.833333
2,(奶油),(牛奶),0.833333,0.750000,0.583333,0.700000,0.933333,-0.041667,0.833333
8,"(麵包, 牛奶)",(奶油),0.583333,0.833333,0.500000,0.857143,1.028571,0.013889,1.166667
9,"(奶油, 牛奶)",(麵包),0.583333,0.833333,0.500000,0.857143,1.028571,0.013889,1.166667
7,"(麵包, 奶油)",(牛奶),0.750000,0.750000,0.500000,0.666667,0.888889,-0.062500,0.750000
12,(牛奶),"(麵包, 奶油)",0.750000,0.750000,0.500000,0.666667,0.888889,-0.062500,0.750000
10,(麵包),"(奶油, 牛奶)",0.833333,0.583333,0.500000,0.600000,1.028571,0.013889,1.041667
11,(奶油),"(麵包, 牛奶)",0.833333,0.583333,0.500000,0.600000,1.028571,0.013889,1.041667
6,(餅乾),(麵包),0.416667,0.833333,0.333333,0.800000,0.960000,-0.013889,0.833333

# 案例：啤酒和尿布

In [8]:
data1 = pd.read_csv('https://raw.githubusercontent.com/LiShingHan/DataScience/main/DataSet/beer.csv', encoding='big5')  # load data set
data1

   Bread   Milk   Diaper   Beer   Coke   Eggs
0      1      1        0      0      0      0
1      1      0        1      1      0      1
2      0      1        1      1      1      0
3      1      1        1      1      0      0
4      1      1        1      0      1      0

In [9]:
frequent_itemsets1 = apriori(data1, min_support=0.4, use_colnames = True)
frequent_itemsets1['length'] = frequent_itemsets1['itemsets'].apply(lambda x : len(x))
frequent_itemsets1

    support                 itemsets  length
0       0.8                  (Bread)       1
1       0.8                  ( Milk)       1
2       0.8                ( Diaper)       1
3       0.6                  ( Beer)       1
4       0.4                  ( Coke)       1
5       0.6           (Bread,  Milk)       2
6       0.6         (Bread,  Diaper)       2
7       0.4           (Bread,  Beer)       2
8       0.6         ( Diaper,  Milk)       2
9       0.4           ( Beer,  Milk)       2
10      0.4           ( Milk,  Coke)       2
11      0.6         ( Diaper,  Beer)       2
12      0.4         ( Diaper,  Coke)       2
13      0.4  (Bread,  Milk,  Diaper)       3
14      0.4  (Bread,  Beer,  Diaper)       3
15      0.4  ( Beer,  Diaper,  Milk)       3
16      0.4  ( Diaper,  Milk,  Coke)       3

In [10]:
## 計算關聯規則 Association Rule
Association_Rules1 = association_rules(frequent_itemsets1, metric = 'confidence', min_threshold=0.8)

Association_Rules1.sort_values(by=['support','confidence'],  ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,( Beer),( Diaper),0.6,0.8,0.6,1.0,1.250000,0.12,inf
0,( Coke),( Milk),0.4,0.8,0.4,1.0,1.250000,0.08,inf
2,( Coke),( Diaper),0.4,0.8,0.4,1.0,1.250000,0.08,inf
3,"(Bread, Beer)",( Diaper),0.4,0.8,0.4,1.0,1.250000,0.08,inf
4,"( Beer, Milk)",( Diaper),0.4,0.8,0.4,1.0,1.250000,0.08,inf
5,"( Diaper, Coke)",( Milk),0.4,0.8,0.4,1.0,1.250000,0.08,inf
6,"( Milk, Coke)",( Diaper),0.4,0.8,0.4,1.0,1.250000,0.08,inf
7,( Coke),"( Diaper, Milk)",0.4,0.6,0.4,1.0,1.666667,0.16,inf