In [1]:
install.packages('arules')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [2]:
library(arules)

Loading required package: Matrix


Attaching package: ‘arules’


The following objects are masked from ‘package:base’:

    abbreviate, write

In [5]:
trans <- read.csv("https://raw.githubusercontent.com/LiShingHan/DataScience/main/DataSet/p10.5.csv", fileEncoding = "BIG-5")
trans

In [8]:
trans <- as.matrix(trans)
trans

      牛奶 麵包 雞蛋 奶油 番茄醬 餅乾
 [1,] 1    1    1    1    0      0
 [2,] 1    0    1    1    1      0
 [3,] 0    1    0    1    1      0
 [4,] 1    1    0    1    0      0
 [5,] 0    1    0    1    0      1
 [6,] 1    1    0    1    0      1
 [7,] 1    0    0    0    0      1
 [8,] 1    1    0    1    0      0
 [9,] 0    1    1    1    0      1
[10,] 1    1    0    1    0      0
[11,] 1    1    0    1    0      0
[12,] 1    1    0    0    1      1

In [9]:
rule=apriori(trans,parameter=list(supp=0.33,conf=0.5))

Apriori

Parameter specification:
 confidence minval smax arem  aval originalSupport maxtime support minlen
        0.5    0.1    1 none FALSE            TRUE       5    0.33      1
 maxlen target  ext
     10  rules TRUE

Algorithmic control:
 filter tree heap memopt load sort verbose
    0.1 TRUE TRUE  FALSE TRUE    2    TRUE

Absolute minimum support count: 3

set item appearances ...[0 item(s)] done [0.00s].
set transactions ...[6 item(s), 12 transaction(s)] done [0.00s].
sorting and recoding items ... [4 item(s)] done [0.00s].
creating transaction tree ... done [0.00s].
checking subsets of size 1 2 3 done [0.00s].
writing ... [13 rule(s)] done [0.00s].
creating S4 object  ... done [0.00s].

In [10]:
inspect(rule)

     lhs             rhs    support   confidence coverage  lift      count
[1]  {}           => {牛奶} 0.7500000 0.7500000  1.0000000 1.0000000  9
[2]  {}           => {麵包} 0.8333333 0.8333333  1.0000000 1.0000000 10
[3]  {}           => {奶油} 0.8333333 0.8333333  1.0000000 1.0000000 10
[4]  {餅乾}       => {麵包} 0.3333333 0.8000000  0.4166667 0.9600000  4
[5]  {牛奶}       => {麵包} 0.5833333 0.7777778  0.7500000 0.9333333  7
[6]  {麵包}       => {牛奶} 0.5833333 0.7000000  0.8333333 0.9333333  7
[7]  {牛奶}       => {奶油} 0.5833333 0.7777778  0.7500000 0.9333333  7
[8]  {奶油}       => {牛奶} 0.5833333 0.7000000  0.8333333 0.9333333  7
[9]  {麵包}       => {奶油} 0.7500000 0.9000000  0.8333333 1.0800000  9
[10] {奶油}       => {麵包} 0.7500000 0.9000000  0.8333333 1.0800000  9
[11] {牛奶, 麵包} => {奶油} 0.5000000 0.8571429  0.5833333 1.0285714  6
[12] {牛奶, 奶油} => {麵包} 0.5000000 0.8571429  0.5833333 1.0285714  6
[13] {麵包, 奶油} => {牛奶} 0.5000000 0.6666667  0.7500000 0.8888889  6

# 案例：啤酒和尿布

In [13]:
beer <- read.csv("https://raw.githubusercontent.com/LiShingHan/DataScience/main/DataSet/beer.csv")
beer

  Bread Milk Diaper Beer Coke Eggs
1 1     1    0      0    0    0
2 1     0    1      1    0    1
3 0     1    1      1    1    0
4 1     1    1      1    0    0
5 1     1    1      0    1    0

In [14]:
beer = as.matrix(beer)
beer

     Bread Milk Diaper Beer Coke Eggs
[1,] 1     1    0      0    0    0
[2,] 1     0    1      1    0    1
[3,] 0     1    1      1    1    0
[4,] 1     1    1      1    0    0
[5,] 1     1    1      0    1    0

In [15]:
rule=apriori(beer,parameter=list(supp=0.4,conf=0.8))

Apriori

Parameter specification:
 confidence minval smax arem  aval originalSupport maxtime support minlen
        0.8    0.1    1 none FALSE            TRUE       5     0.4      1
 maxlen target  ext
     10  rules TRUE

Algorithmic control:
 filter tree heap memopt load sort verbose
    0.1 TRUE TRUE  FALSE TRUE    2    TRUE

Absolute minimum support count: 2

set item appearances ...[0 item(s)] done [0.00s].
set transactions ...[6 item(s), 5 transaction(s)] done [0.00s].
sorting and recoding items ... [5 item(s)] done [0.00s].
creating transaction tree ... done [0.00s].
checking subsets of size 1 2 3 done [0.00s].
writing ... [10 rule(s)] done [0.00s].
creating S4 object  ... done [0.00s].

In [16]:
inspect(rule)

     lhs               rhs      support confidence coverage lift count
[1]  {}             => {Milk}   0.8     0.8        1.0      1.00 4
[2]  {}             => {Bread}  0.8     0.8        1.0      1.00 4
[3]  {}             => {Diaper} 0.8     0.8        1.0      1.00 4
[4]  {Coke}         => {Milk}   0.4     1.0        0.4      1.25 2
[5]  {Coke}         => {Diaper} 0.4     1.0        0.4      1.25 2
[6]  {Beer}         => {Diaper} 0.6     1.0        0.6      1.25 3
[7]  {Milk, Coke}   => {Diaper} 0.4     1.0        0.4      1.25 2
[8]  {Diaper, Coke} => {Milk}   0.4     1.0        0.4      1.25 2
[9]  {Milk, Beer}   => {Diaper} 0.4     1.0        0.4      1.25 2
[10] {Bread, Beer}  => {Diaper} 0.4     1.0        0.4      1.25 2

In [17]:
inspect(head(sort(rule,by="support"),10))

     lhs               rhs      support confidence coverage lift count
[1]  {}             => {Milk}   0.8     0.8        1.0      1.00 4
[2]  {}             => {Bread}  0.8     0.8        1.0      1.00 4
[3]  {}             => {Diaper} 0.8     0.8        1.0      1.00 4
[4]  {Beer}         => {Diaper} 0.6     1.0        0.6      1.25 3
[5]  {Coke}         => {Milk}   0.4     1.0        0.4      1.25 2
[6]  {Coke}         => {Diaper} 0.4     1.0        0.4      1.25 2
[7]  {Milk, Coke}   => {Diaper} 0.4     1.0        0.4      1.25 2
[8]  {Diaper, Coke} => {Milk}   0.4     1.0        0.4      1.25 2
[9]  {Milk, Beer}   => {Diaper} 0.4     1.0        0.4      1.25 2
[10] {Bread, Beer}  => {Diaper} 0.4     1.0        0.4      1.25 2